<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tentang kami</title>
    <link rel="stylesheet" href="../../CSS/tentangkami1.css">
</head>
<body>
    <nav class="navbar" id="navbar">
        <div class="navbar-logo">
            <div class="logo-icon">
                <img src="../../images/navba.png" alt="Logo Pawerti">
            </div>
            <span>Pawarti</span>
        </div>

        <!--Humberger button-->
         <button class="hamburger" id="hamburger" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="navbar-nav" id="navMenu">
    <li><a href="../../USER/website1.php" onclick="closeMenu()">Beranda</a></li>
    <li><a href="#events" onclick="closeMenu()">Event</a></li>
    <li><a href="../../USER/tentangkami1.html" onclick="closeMenu()">Tentang Kami</a></li>
    <li><a href="#kontak" onclick="closeMenu()">Kontak</a></li>
    <li><a href="#" class="btn-login" onclick="closeMenu()">Login</a></li>
    </ul>
    </nav>
</body>
</html>